[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
gevent = "*"
eventlet = "*"
flask = "*"
pandas = "*"
pyarrow = "*"
ujson = "*"
opencensus-ext-flask = "*"
opencensus-ext-azure = "*"

[requires]
python_version = "3.7"

[scripts]
serve = "gunicorn -b 0.0.0.0:8765 app:app --workers 1 --worker-class gevent --worker-connections 10"
